@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.middle {
  @apply flex items-center justify-center;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Variable.ttf) format("truetype"),
    url(./assets/fonts/satoshi/Satoshi-Variable.woff) format("woff"),
    url(./assets/fonts/satoshi/Satoshi-Variable.woff2) format("woff2");
}
body {
  @apply font-satoshi bg-[#090815];
}
.h3 {
  @apply text-[3rem] font-700 leading-121.5 -tracking-[.9px];
}
.h {
  @apply text-[3.5rem] font-700 leading-121.5 -tracking-[1.05px];
}
.h2 {
  @apply text-[4.8rem] !font-700 leading-121.5 -tracking-[1.452px] text-white;
}
.p1{
  @apply text-white text-[1.8rem] font-500 leading-121.5 -tracking-[.54px]
}
.p {
  @apply text-[2rem] text-white font-500 -tracking-[0.4px];
}
.section1 {
  background-image: url(./assets/images/backgrounds/bg1.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: 0% -45rem;
  z-index: 1111;
}
.section2{
  background-image: url(./assets/images/backgrounds/left1.png) ,url(./assets/images/backgrounds/right1.png);
  background-size: 30%,30%;
  background-repeat: no-repeat;
  background-position: 0% 10rem,100% 10rem;
  position: relative;
  top: -13rem;
  z-index: 3;
}
.section4{
  background-image: url(./assets/images/backgrounds/left2.png) ,url(./assets/images/backgrounds/right2.png);
  background-size: 30%,30%;
  background-repeat: no-repeat;
  background-position: 0% -30rem,100% -30rem;
  position: relative;
  top: -40rem;
  padding-top: 20rem;
  z-index: 2;
}
.section3{
  background-image: url(./assets/images/backgrounds/bg2.png);
    background-position: 0 -10rem;
    background-size: contain;
    position: relative;
    top: -27rem;
    z-index: 11;
}
.section5{
  background-image: url(./assets/images/backgrounds/bg3.png);
    background-position: 0 -10rem;
    background-size: cover;
    position: relative;
    /* top: -17rem; */
    margin-top: -55rem;
    padding-top: 30rem;
    z-index: 11;
}
.gradient-border {
  @apply before:rounded-[2rem] before:w-full before:absolute before:left-0 before:bg-sticker-gradient before:p-[1.5rem] relative;
}
.gradient-border::before {
  -webkit-mask-composite: clear;
  -webkit-backface-visibility: hidden;
  mask-composite: exclude;
  height: 100%;
  border-radius: 1.6rem;
  background: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  content: "";
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(0 0) content-box, linear-gradient(transparent 0 0);
  padding: 3px;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}
.bg-gradient{
  background-image: url(./assets/images/backgrounds/gradient.png);
  background-position: 0;
  background-size: contain;
}
.scrollbar::-webkit-scrollbar {
  @apply w-[.7rem] rounded-[1rem];
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-[#fff];
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gradient2
}
.launch{
  background-image: url(./assets/images/backgrounds/globe-bg.png);
  background-position: center -17rem;
  background-size: cover;
  position: relative;
  top: -20rem;
}