@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
@media screen and (max-width: 480px) {
  html {
    font-size: 40%;
    @apply 450:!font-[40%];
  }
}

.middle {
  @apply flex items-center justify-center;
}

@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/satoshi/Satoshi-Variable.ttf) format("truetype"),
    url(./assets/fonts/satoshi/Satoshi-Variable.woff) format("woff"),
    url(./assets/fonts/satoshi/Satoshi-Variable.woff2) format("woff2");
}
@font-face {
  font-family: 'titillium';
  src: url(./assets/fonts/titillium/TitilliumWeb-Roman-VF.ttf)
}
h1,h2,h3,h4,h5,h6{
  @apply font-titillium
}
body {
  @apply font-satoshi bg-[#090815]  overflow-x-hidden;
}
.h3 {
  @apply text-[3rem] font-700 leading-121.5 -tracking-[.9px];
}
.h {
  @apply text-[3.5rem] font-700 leading-121.5 -tracking-[1.05px];
}
.h2 {
  @apply text-[4.8rem] !font-700 leading-121.5 -tracking-[1.452px] text-white;
}
.p1 {
  @apply text-white text-[1.8rem] font-500 leading-121.5 -tracking-[.54px];
}
.p {
  @apply text-[2rem] text-white font-500 -tracking-[0.4px];
}
.home {
  background-image: url(./assets/images/backgrounds/home.png);
  background-size: 100% 100%;
  background-position: 0% 0rem;
  position: relative;
  z-index: 1;
}

.gradient-border {
  @apply before:rounded-[2rem] before:w-full before:absolute before:left-0 before:bg-sticker-gradient before:p-[1.5rem] relative;
}
.gradient-border::before {
  -webkit-mask-composite: clear;
  -webkit-backface-visibility: hidden;
  mask-composite: exclude;
  height: 100%;
  border-radius: 1.6rem;
  background: linear-gradient(
    91.45deg,
    #b6ff9c 3.36%,
    #c7fa50 44.73%,
    #02ffe2 98.36%
  );
  content: "";
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(0 0) content-box, linear-gradient(transparent 0 0);
  padding: 3px;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}

.gradient-border1 {
  @apply before:rounded-[2rem] before:w-full before:absolute before:left-0 before:bg-sticker-gradient1 before:p-[1.5rem] relative;
}
.gradient-border1::before {
  -webkit-mask-composite: clear;
  -webkit-backface-visibility: hidden;
  mask-composite: exclude;
  height: 100%;
  border-radius: 1.6rem;
  content: "";
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(0 0) content-box, linear-gradient(transparent 0 0);
  padding: 3px;
  position: absolute;
  top: 0;
  transition: all 0.5s;
  width: 100%;
}

.bg-gradient {
  background-image: url(./assets/images/backgrounds/gradient.png);
  background-position: 0;
  background-size: contain;
}
.scrollbar::-webkit-scrollbar {
  @apply w-[.7rem] rounded-[1rem];
}
.scrollbar::-webkit-scrollbar-track {
  @apply bg-[#fff] rounded-[1rem];
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gradient2 rounded-[1rem];
}
.launch {
  background-image: url(./assets/images/backgrounds/globe-bg.png);
  background-position: center;
  background-size: cover;
  margin: 5rem 0; 

}
.pre-launching {
  background-image: url(./assets/images/backgrounds/bg1.png);
  background-size: 100% 100%;
  background-position: 0% 0rem;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding-bottom: 8.5rem;
  max-height: 100vh;
}
